*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 30px;
}

.nav{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav__logo{
    position: relative;
    left: 4rem;
    display: flex;
    margin-right: 10px;
}

.nav__logo ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 25px;
    cursor: pointer;
}


.nav__logo h5{
    font-size: 30px;
    color: #2061D4;
}

.nav__bottoms{
    display: flex;
}

.nav__bottoms h4{
    font-weight: 400;
    font-size: 18px;
    margin-right: 10px;
}

.nav__bottoms h4:nth-child(1){
    padding: 7px 10px;
    border-radius: 10px;
    color: #fff;
    background: #D94720;
}

.nav__bottoms h4:nth-child(2){
    padding: 7px 10px;
    border-radius: 10px;
    color: #D94720;
    background: #FDF4F3;
}

.nav__input input{
    position: relative;
    padding: 10px 38px;
    background: #F3F5F7;
    border: none;
    border-radius: 10px;
}

.nav__input ion-icon{
    position: relative;
    top: 5px;
    left: 35px;
    width: 30px;
    height: 20px;
    z-index: 1;
}

.nav__right{
    display: flex;
}

.nav__right h4{
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    padding: 5px 20px;
    cursor: pointer;
}

.nav__right h4:nth-child(2){
    padding: 5px 20px;
    border: 1px solid #D94720;
    color: #D94720;
    background: #F3F5F7;
    border-radius: 10px;
}

/* SECTION 1 */

.section1{
    display: flex;
}

.section1__content{
    position: relative;
    top: 5rem;
    left: 2rem;
    text-align: center;
    padding: 0 35px;
    cursor: pointer;
}

.section1__content h4{
    padding-top: 15px;
}

/* SECTION 2 */

.section2{
    position: relative;
    top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 60px;
}

.section2__content--left,
.section2__content--center,
.section2__content--right{
    width: 310px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.section2__content--left{
    color: #fff;
    background: #2061D4;
    border-radius: 10px;
}

.section2__content--left h4{
    line-height: 1.5;
    margin-top: 20px;
}

.section2__content--left p{
    font-size: 15px;
    padding-top: 10px;
}

.section2__content--left span{
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 12rem;
}

.section2__content--left img{
    margin-top: 20px;
    margin-left: 10px;
}

.section2__content--center{
    color: #fff;
    background: #DA4722;
    border-radius: 10px;
}

.section2__content--center h4{
    line-height: 1.5;
    margin-top: 20px;
}

.section2__content--center h6{
    position: relative;
    top: 2.5rem;
    font-size: 13px;
    padding: 5px 10px;
    color: #DA4722;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.section2__content--center h6 ion-icon{
    position: relative;
    top: 3px;
}

.section2__content--center img{
    width: 64px;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 60px;
}

.section2__content--right{
    color: #fff;
    background: #E39943;
    border-radius: 10px;
}

.section2__content--right h4{
    line-height: 1.5;
    margin-top: 20px;
}

.section2__content--right p{
    font-size: 15px;
    padding-top: 10px;
}

.section2__content--right span{
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 12rem;
}

.section2__content--right img{
    margin-top: 20px;
    margin-left: 40px;
}

/* SECTION 3 */

article{
    position: relative;
    top: 14rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

article h4{
    position: absolute;
    left: 20px;
}

article h5{
    font-size: 12px;
    position: absolute;
    right: 120px;
    color: #DA4722;
    cursor: pointer;
}

article h5 ion-icon{
    position: relative;
    top: 2px;
}

.section3{
    position: relative;
    width: 325px;
    height: 255px;
    position: relative;
    top: 16rem;
    left: 3.5rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 1fr 1fr;
}


.section3__content--left h2,
.section3__content--center h2,
.section3__content--right h2{
    font-size: 16px;
    width: 150px;
    position: absolute;
    top: 15px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    background: #06BC42;
}

.section3__content--left img,
.section3__content--center img,
.section3__content--right img{
    border-radius: 10px;
}


.section3__content--left h3,
.section3__content--center h3,
.section3__content--right h3{
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

/* SECTION 4 */

.article-sec4{
    position: relative;
    top: 20rem;
}

.article-sec4 h2{
    position: relative;
    right: 8px;
}

footer{
    width: 100%;
    position:relative;
    top: 21rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 3.5rem;    
}

.section4{
    position: relative;
}


.section4 img{
    position: relative;
    border-radius: 10px;
    
}

.section4 h4{
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background: #F7B338;
    z-index: 1;
}
